.advantages {
  @include wrapper-column;
  justify-content: flex-start;
  width: 320px;
  min-height: 416px;
  text-align: left;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @include zero;
  margin-top: 5px;
  margin-right: auto;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.advantages__item {
  background-repeat: no-repeat;

  &--living {
    background-image: url("../img/icon-house.svg");
    height: 130px;
    background-position: 22px 22px;
    background-size: 38px 36px;
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
    height: 110px;
    background-position: 25px 20px;
    background-size: 32px 38px;
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    height: 125px;
    background-position: 19px 27px;
    background-size: 38px 35px;
  }
}

.advantages__header {
  @include zero;
  @include header;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 15px;
}

.advantages__text {
  @include zero;
  @include text;
  text-align: left;
  width: 210px;
}

.advantages__br-t,
.advantages__br-d {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: $tablet-width;
    min-height: 330px;
  }

  .advantages__list {
    flex-direction: row;
    margin-top: 0;
  }

  .advantages__item {
    min-height: 330px;

    &:first-child {
      .advantages__text {
        width: 160px;
      }
    }

    &--living {
      background-position: center 59px;
      background-size: 75px 73px;
    }
    &--souvenirs {
      background-position: center 57px;
    background-size: 64px 75px;
    }
    &--food {
      background-position: center 62px;
    background-size: 78px 69px;
    }
  }


  .advantages__wrapper {
    width: 256px;
    padding-left: 0;
    align-items: center;
    margin-top: 159px;
  }

  .advantages__header {
    margin-top: 0;
    margin-bottom: 21px;

    @include header-t;
  }

  .advantages__text {
    text-align: center;
    width: 170px;
  }

  .advantages__br-t {
    display: inline;
  }

  .advantages__item--souvenirs {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: $desktop-width;
  }

  .advantages__wrapper {
    width: 400px;
  }

  .advantages__text {
    width: 290px;
    padding-bottom: 21px;
  }

  .advantages__br-d {
    display: inline;
  }

  .advantages__item:first-child {
    .advantages__text {
      width: 260px;
    }
  }
}
