.album {
  width: 320px;
  margin: 0 auto;
}

.album__wrapper {
  width: 280px;
  margin: 0 auto;
}

.album__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @include zero;
}

.album__item {
  @include zero;
  margin-top: 23px;
  margin-bottom: 20px;
}

.album__image {
  display: block;
  width: 280px;
  height: 280px;
}

.album__header {
  @include zero;
  @include photo;
  padding-top: 15px;
}

.album__autor {
  @include zero;
  @include photo;
  font-weight: normal;
  color: $text-gray;
  text-transform: none;
  margin-bottom: 5px;
}

.album__like {
  display: flex;
  min-height: 22px;
}

.album__like-img {
  opacity: 0.3;
  margin-right: 15px;
}

.album__like-number {
  @include zero;
  @include photo;
}

@media (min-width: $tablet-width) {
  .album {
    width: $tablet-width;
  }

  .album__wrapper {
    width: 648px;
  }

  .album__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .album__item {
    margin: 0;
    width: 324px;

    &:first-child {
      width: 648px;
    }
  }

  .album__image {
    width: 324px;
    height: 267px;
  }

  .album__item:first-child {
   .album__image {
      width: 648px;
      height: 400px;
    }

    .album__like {
      padding-right: 20px;
    }
  }

  .album__discription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    background-color: #f2f2f2;

    &::after {
      content: "";
      min-height: inherit;
      font-size: 0;
    }
  }

  .album__h-a {
    padding-left: 20px;
  }

  .album__header {
    padding-top: 0;
  }

  .album__autor {
    margin: 0;
  }

  .album__like {
    padding-right: 30px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .album {
    width: $desktop-width;
  }

  .album__wrapper {
    width: 1200px;
  }

  .album__item {
    width: 400px;
    position: relative;

    &:first-child {
      width: 1200px;
    }
  }

  .album__image {
    width: 400px;
    height: 267px;
  }

  .album__item:first-child .album__image {
    width: 1200px;
    height: 400px;
  }

  .album__discription {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .album__header,
  .album__autor,
  .album__like-number {
    color: $text-white;
  }

  .album__like-img {
    fill: #ffffff;
    opacity: 1;
  }
}
