
.checkbox__list {
  list-style: none;
  @include zero;
  display: block;
  min-height: 296px;
  margin-top: 15px;
  margin-left: 78px;
}

.checkbox__item {
  position: relative;
  min-height: 58px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.checkbox__input,
.checkbox__input:checked {
  display: none;
}

.checkbox__item label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: #f2f2f2;
  left: -80px;
  bottom: -14px;
}

.checkbox__item label:hover::before {
  background-color: #e5e5e5;
}

.checkbox__item label:active::before {
  background-color: #d5d5d5;
}

.checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -63px;;
  bottom: 0;
  z-index: 3;
}

.checkbox__input:checked+label:active::after {
  opacity: 0.3;
}


.checkbox__item label:hover::before {
  background-color: #e5e5e5;
}

.checkbox__item label:active::before {
  background-color: #d5d5d5;
}

.checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -63px;;
  bottom: 0;
  z-index: 3;
}

.checkbox__input:checked + label:active::after {
  opacity: 0.3;
}

.checkbox .form__header {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .checkbox__list {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 176px;
    margin-left: 96px;
    margin-bottom: 20px;
  }

  .checkbox__item {
    display: flex;
    align-items: center;
    min-height: 88px;
    box-sizing: border-box;
    width: 260px;
    padding-left: 80px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .checkbox__item label::before {
    left: -80px;;
    bottom: -14px;
  }

  .checkbox__input:checked+label::after {
    left: -63px;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .checkbox__list {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 56px;
  }

  .checkbox__item {
    width: auto;
    margin-right: 60px;

    &:last-child {
      margin: 0;
    }
  }
}
