.hotel-search {
  @include wrapper-column;
  margin-top: 30px;
  margin-bottom: 50px;
}

.hotel-search__header {
  @include header;
  @include zero;
  @include header-t;
  margin-bottom: 30px;
}

.hotel-search__text {
  @include text;
  @include zero;
  line-height: 24px;
  margin-bottom: 40px;
  width: 300px;
}

.hotel-search__button {
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    min-height: inherit;
    font-size: 0;
  }
}


.hotel-search__br-t {
  display: none;
}

@media (min-width: $tablet-width) {
  .hotel-search {
    margin-top: 55px;
    margin-bottom: 58px;
  }

  .hotel-search__header {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .hotel-search__text {
    width: 430px;
    margin-botom: 45px;
  }

  .hotel-search__button {
    width: 458px;
  }

  .hotel-search__br-m {
    display: none;
  }

  .hotel-search__br-t {
    display: inline;
  }
}
