.intro {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.intro__top {
  display: block;
  box-sizing: border-box;
  height: 390px;
  background-color: rgb(130, 90, 90);
  background-image:  url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 320px 160px,768px 389px;
  background-position:center 297px, top;
  /*треугольник не ставится bottomом вниз? */

  &--small {
    height: 158px;
    background-size: 320px 27px,768px 158px cover;
    background-position: center 65px, bottom;
  }
}

@media (min-resolution:144dpi), (min-resolution:1.5dppx) {
  .intro__top {
    background-image:  url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.intro__imgtext-index {
  display: block;
  padding-top: 90px;
  margin: 0 auto;
  width: 282px;
  height: 214px;

}
.intro__imgtext-other {
  display: block;
  height: 40px;
  width: 230px;
  padding-top: 35px;
  margin: 0 auto;
}

.intro__discription {
  width: 275px;
  margin: 0 auto;
  padding-top: 40px;

  &--index {
    margin-bottom: 10px;
  }
  &--form {
    margin-bottom: 20px;
  }
  &--photo {
    margin-bottom: 30px;
  }
}

.intro__header {
  @include zero;
  @include header;
  margin-bottom: 30px;
}

.intro__text {
  @include zero;
  @include text;
  line-height: 26px;
}

.intro__bottom {
  height: 37px;
  background-color: $theme-color;
  background-image:  url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 320px 37px;
  background-position: bottom;
}

@media (min-width: $tablet-width) {
  .intro {
    width: $tablet-width;
  }

  .intro__top {
    height: 518px;
    background-image:  url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px 57px,768px 518px;
    background-position:center bottom, bottom;

    &--small {
      height: 290px;
    }
  }

  @media (min-resolution:144dpi), (min-resolution:1.5dppx) {
    .intro__top {
      background-image:  url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }


  .intro__imgtext-index {
    height: 350px;
    width: 462px;
    padding-top: 77px;
  }

  .intro__discription {

    &--index {
      width: 500px;
      padding-top: 50px;
      margin-bottom: 55px;
    }

    &--photo,
    &--form {
      width: 450px;
      padding-top: 70px;
      margin-bottom: 50px;

      .intro__header {
        font-size: 30px;
      }
    }
  }

  .intro__header {
    margin-bottom: 35px;
    @include header-t;
  }

  .intro__bottom {
    display: none;
  }

  .intro__imgtext-other {
    height: 80px;
    width: 460px;
    padding-top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: $desktop-width;
  }

  .intro__top {
    height: 518px;
    background-image:  url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 57px, 1200px 518px;
    background-position:center bottom, bottom;

    &--small {
      height: 300px;
    }
  }

  @media (min-resolution:144dpi), (min-resolution:1.5dppx) {
    .intro__top {
      background-image:  url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .intro__imgtext-other {
    padding-top: 100px;
  }

  .intro__discription {
    &--photo,
    &--form {
    padding-top: 110px;
    }
  }

  .intro__header {
    margin-bottom: 35px;
    @include header-t;
  }
}
