.main-nav {
  display: block;
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-nav__exit {
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
  border: 0;
  background: none;
  z-index: 3;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $theme-color;
}

.main-nav__item {
  width: 320px;
  min-height: 40px;

  a[href]:hover {
    background-color: $color-hover;
  }

  a[href]:active {
    background-color: $color-active;
    color: rgba(255, 255, 255, 0.3);
  }

  a {
    text-decoration: none;
    outline: none;
    height: 54px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  &:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  &:last-child {
    box-shadow: inset 0 -5px 5px 0 rgba(129, 129, 129, 0.2);
  }
}

.main-nav__toggle {
  position: absolute;
  bottom: 18px;
  right: 20px;

  cursor: pointer;
  border: 0;
  background: none;
}

.main-nav__exit,
.main-nav__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
    margin: 0 auto;
    min-height: 56px;
  }

  .main-nav__list {
    @include zero;
    display: flex;
    flex-direction: row;
    background-color: $color-none;
  }

  .main-nav__item {
    width: 153px;
    min-height: 56px;

    &:nth-child(3) {
      margin-left: auto;
    }

    &:nth-child(n) {
      border: none;
    }

    &:last-child {
      box-shadow: none;
    }

    a {
      color: $text-default;
      font-size: 14px;
      line-height: 26px;
    }

    a[href]:hover,
    a[href]:focus {
      background-color: $color-none;
      color: $theme-color;
    }

    a[href]:active {
      background-color: $color-none;
      color: rgba(0, 0, 0, 0.3);
    }

    &--active {
      a {
        color: $text-active;
      }

      a:hover {
        color: $text-active-h;
      }

      a:active {
        opacity: 0.3;
      }
    }
  }

  .main-nav__exit,
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
  }

  .main-nav__item {
    width: 240px;
  }
}
