.map {
  display: flex;
  margin: 0 auto;
  width: 320px;
  min-height: 350px;
  border: none;
  background-color: #e9e5dc;
  background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.jpg");
  background-size: auto auto, 320px 350px;
  background-repeat: no-repeat;
  background-position: center, center 0;
  margin-bottom: 40px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@2x.jpg");
  }
}

.map__link {
  border: none;
}

.map__link--tablet,
.map__link--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .map__link--mobile,
  .map__link--desktop {
    display: none;
  }

  .map__link--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .map__link--mobile,
  .map__link--tablet {
    display: none;
  }

  .map__link--desktop {
    display: block;
  }
}
