.page-header__bottom {
  position: relative;
  width: 320px;
  height: 56px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  position: absolute;
  width: 102px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .page-header__bottom {
    height: 0;
  }

  .page-header__logo {
    margin-top: -56px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 190px;

    img {
      width: 190px;
    }
  }
}
