.page-footer {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.page-footer__link {
  @include header;
  font-size: 21px;
  margin-bottom: 38px;
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;

  @include zero;
}

.page-footer__copyright-text {
  @include text;
  line-height: 26px;
  padding-left: 10px;
}

.page-footer__copyright-img {
  display: block;
  fill: #000000;

  &:hover {
    fill: $theme-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 648px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    margin: auto;
    margin-bottom: 36px;
  }

  .page-footer__link,
  .page-footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
    padding-bottom: 36px;
  }
}
