
.radio__list {
  list-style: none;
  @include zero;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 165px;
}
.radio__item {
  display: flex;
  min-height: 56px;
  padding-bottom: 14px;
  align-items: center;
  position: relative;
}

.radio__input,
.radio__input:checked {
  display: none;
}

.form__label--radio::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  background-color: #f2f2f2;
  left: -80px;;
  bottom: 14px;
}

.radio__label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  background-color: #f2f2f2;
  left: -80px;;
  bottom: 14px;
}

.radio__label:hover::before {
  background-color: #e5e5e5;
}

.radio__label:active::before {
  background-color: #d5d5d5;
}

.radio__input:checked+label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  background-color: #333333;
  left: -63px;;
  bottom: 31px;
  z-index: 3;
}
.radio__input:checked+label:active::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .radio__list {
    padding-top: 50px;
    min-height: 182px;
  }
}
