
.radio__list {
  list-style: none;

  @include zero;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 78px;
  margin-bottom: 10px;
  margin-top: 2px;
  min-height: 160px;
}

.radio__item {
  display: flex;
  min-height: 56px;
  padding-bottom: 13px;
  align-items: center;
  position: relative;
}

.radio__input,
.radio__input:checked {
  display: none;
}

.radio__label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  background-color: #f2f2f2;
  left: -78px;
  bottom: -17px;
}

.radio__label:hover::before
 {
  background-color: #e5e5e5;
}

.radio__label:active::before {
  background-color: #d5d5d5;
}

.radio__input:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  background-color: #333333;
  left: -61px;
  bottom: 0;
  z-index: 3;
}

.radio__input:checked + label:active::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .radio {
    width: 307px;
  }

  .radio__list {
    padding-top: 38px;
    padding-left: 75px;
    min-height: 182px;
  }

  .radio__item {
    padding-bottom: 22px;
  }

  .radio__header {
    width: 307px;
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .radio {
    width: 378px;
  }

  .radio__header {
    width: 307px;
    margin-right: 70px;
  }

  .radio__list {
    padding-left: 78px;
  }
}
