.reasons {
  @include zero;
}

.reasons-short {
  list-style: none;

  @include zero;
  margin: 0 auto;
  width: 320px;
  background-color: #eeeeee;

  &::after {
    content: "";
    min-height: inherit;
    font-size: 0;
  }
}

.reasons-short__wrapper {
  @include wrapper-column;
}

.reasons-short__item {
  box-sizing: border-box;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;

  @include zero;
  padding-top: 28px;
  width: 320px;
  min-height: 168px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    left: 20px;
    bottom: 0;
    background-color: #e3e3e3;
  }
}

.reasons-short__header {
  @include zero;
  @include header;
  margin-bottom: 10px;
}

.reasons-short__number {
  display: block;

  @include zero;
  @include text;
}

.reasons-short__text {
  @include zero;
  @include text;
  width: 250px;
  margin-top: 15px;
}

.reasons-short__item:first-child {
  .reasons-short__text {
    width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .reasons-short {
  display: flex;
    flex-direction: row;
    width: $tablet-width;
    min-height: 256px;
  }

  .reasons-short__item {
    padding-top: 45px;
  }

  .reasons-short__wrapper {
    width: 256px;
  }

  .reasons-short__header {
    width: 120px;

    @include header-t;
  }

  .reasons-short__item:first-child {
    .reasons-short__text {
      width: 160px;
    }
  }

  .reasons-short__text {
    width: 150px;
    margin-top: 22px;
  }

  .reasons-short__item:not(:last-child)::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reasons-short {
    width: $desktop-width;
  }

  .reasons-short__item {
    width: 400px;
  }

  .reasons-short__text {
    width: 270px;
    padding-bottom: 21px;
  }

  .reasons-short__item:first-child {
    .reasons-short__text {
      width: 320px;
    }
  }
}
