.form-section {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.form__item {
  position: relative;
  border: none;
  @include zero;
  margin-bottom: 5px;
}
.form__header {
	@include zero;
	@include header;
  margin-bottom: 25px;
}

.form__contacts {
  position: relative;
}

.form__label {
  display: block;
	@include zero;
	@include text;
	text-transform: uppercase;
	line-height: 26px;

  &--phone {
    padding-left: 20px;
  }

  &--email {
    padding-left: 20px;
  }
}

.form__placeholder {
  display: block;
  @include zero;
  @include header;
  text-transform: none;
  text-align: start;
  color: black;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  box-sizing: border-box;


  &--name {
    width: 230px;
    margin-left: auto;
  }

  &--surname {
    width: 191px;
  }

  &--fname {
    width: 195px;
  }

  &--phone {
    width: 222px;

  }

  &--email {
    width: 222px;


  }

  &--text {
    width: 280px;
    min-height: 160px;
  }
}

.form__label--radio,
.form__label--checkbox {
	@include zero;
	@include header;
	text-transform: none;
}

.form__submit {
  margin-top: 45px;
}

.checkbox__list {
  list-style: none;
}

.form__contacts::before {
  content:"";
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  right: 0;
  top: 25px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__contacts::after {
  content:"";
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  right: 0;
  bottom: 0px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.name__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
