.map {
  display: flex;
  width: 320px;
  min-height: 350px;
  border: none;
  background-color: #e9e5dc;
  background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center, center 0;
}

.map__link {
border: none;
}
