@mixin header {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $text-default;
  text-align: center;
}

@mixin header-t {
  font-size: 21px;
}

@mixin text {
  font-size: 14px;
  font-weight: regular;
  line-height: 21px;
  color: $text-gray;
  text-align: center;
}

@mixin photo {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: $text-default;
}

@mixin zero {
  margin: 0;
  padding: 0;
}

@mixin wrapper-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@mixin out{
  outline: 1px solid red;
}
/*времено, для разметки*/
