.page-footer {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 auto;
}

.page-footer__link {
  @include header;
  font-size: 21px;
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  list-style: none;
  @include zero;
  margin-bottom: 30px;
  justify-content: space-between;
}
.social__item {
  style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: $theme-color;

  &:active {
    background-color: $color-active;
    img {
      opacity: 0.3;
      }
  }

  &:hover {
    background-color: $color-hover;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  @include zero;
  margin: 0 auto;
}

.copyright__text {
  @include header;
  font-size: 14px;
}

.copyright__img {
  display: block;
  &:hover {

  }
  &:active {

  }
}
