.reasons {
  @include zero;
  outline: 1px solid black;
}
.reasons-full{
min-height: 450px;
  outline: 3px solid red;
}

.reasons-full__discription {
  min-height: 191px;
  background-color: $theme-color;
    outline: 3px solid black;
}

.reasons-full__header {
  display: block;
  @include zero;
  margin: 0 auto;
  padding-top: 43px;
  @include header;
  color: $text-white;
}

.reasons-full__number,
.reasons-full__text {
  @include zero;
  display: block;
  margin: 0 auto;
  @include text;
  color: $text-white;
}

.reasons-full__number {
  padding-top: 15px;
}

.reasons-full__text {
  padding-top: 20px;
}

.reasons-full__image {
  outline: 2px solid green;
  /*под изображением зазор???*/
}

.advantages__list {
  display: block;
  list-style: none;
  @include zero;
  margin-bottom: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  &--living {
    background-image: url('../img/icon-house.svg');
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-size: 40px 35px;
  }
  &--souvenirs {
    background-image: url('../img/icon-gift.svg');
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-size: 40px 35px;
  }
    &--food {
    background-image: url('../img/icon-burger.svg');
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-size: 40px 35px;
  }
  outline: 1px solid red;
}

.advantages__title {
  @include zero;
  @include header;
  text-align: left;
  margin-top: 40px;
}

.advantages__description {
  @include zero;
  @include text;
  text-align: left;
  margin-top: 20px;
}

.reasons-short {
  list-style: none;
  @include zero;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.reasons-short__item {
  @include zero;
  outline: 1px solid red;
}

.reasons-short__header {
  @include header;
  @include zero;
}

.reasons-short__number {
  @include text;   /*текст не двигается в середину*/
  @include zero;
}

.reasons-short__text {
  @include text;
  @include zero;
}
