$theme-color: #81b3d2;
$color-hover: #669ec0;
$color-active: #5496bd;
$color-none: #ffffff;

$text-default: #000000;
$text-gray: #333333;
$text-white: #ffffff;
$text-active: #766357;
$text-active-h: #604e43;

$tablet-width: 768px;
$desktop-width: 1200px;
