.main-nav {
background-color: $theme-color;

font-family: "PTSans", sans-serif;
font-weight: bold;
font-size: 18px;
line-height: 40px;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;

list0stule: none;
}
