@import "var.scss";
@import "intro.scss";
@import "main-nav.scss";

body {
  width: 360px;
  min-height: 3610px;
  margin: 0 auto;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: PTSans, Arial, sans-serif;
  color: #000000;

  background: rgb(255, 255, 255);

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
a {
  position: relative;

  text-decoration: none;

  outline: none;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
}

@import "mixins.scss";
